*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
}
.btn-warning{
    border-radius:30px;
    padding:10px 25px;
}

.btn-outline-light{
    border-radius:30px;
    padding:10px 25px;
}
/* Navbar */

#mainNav{
    background-color:#1F2937;
}
/* Hero Section */

#hero{
    background: linear-gradient(135deg,#0d3f3c,#109287);
}

.hero-overlay{
    background:rgba(0,0,0,0.35);
    min-height:90vh;
    display:flex;
    align-items:center;
}